body{
	background-image: url("images/ships.gif");
	background-size: 100%;
}

* {box-sizing: border-box;}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
  opacity: 0.9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #0E0935;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.9;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}


.ship-piece{
    background-color: #0E0935;
}

.salvo{
    background-color: crimson;
}

.ship-piece-hited{
    background-image: url("images/flame.gif");
    background-size: 100%;
}


#players, #playerInfo{
    font: normal 1.5em/1.1 OFL Sorts Mill Goudy, Noto Nastaliq Urdu, My Noto Nastaliq Urdu, Georgia, serif;
    margin: 3%;
    color: white;
}

h3, table, #leader-list, th, li{
    color: white;
    margin: 2%;
    list-style:none
}

a{
    margin: 1%;
}

#userLogged{
    color: white;
}

table{
    width: 50%;
}

.row{
    margin: 3%;
}

#btnLog {
    margin: 0 0 0 0;
}

#logoutBtn{
    visibility: hidden;
}

#myModal{
    color: #0E0935;
}

#cgbtn{
    border: 1px solid;
    visibility : hidden;
}

#gameDetails > button {
    border: 1px solid;
    width: 20%;
}

td{
    width: 27px;
    height: 27px;
}

#bombBox{
    width: max-content;
    height: max-content;
}

#table1{
    width: 50%;
}











.grid-stack-item-content {
    background-repeat: no-repeat;

    cursor: -webkit-grab;
    cursor: -moz-grab;
}

.carrierHorizontal{
    background-image: url('images/ships/5.png');
    background-size: 95% 100%;
    background-position: center;
}

.carrierVertical{
    background-image: url('images/ships/5_v.png');
    background-size: 100% 95%;
    background-position: center;
    width: 45px !important;
}

.battleshipHorizontal{
    background-image: url('images/ships/4.png');
    background-size: 85% 100%;
    background-position: center;
}

.battleshipVertical{
    background-image: url('images/ships/4_v.png');
    background-size: 100% 85%;
    background-position: center;
    width: 45px !important;
}

.submarineHorizontal{
    background-image: url('images/ships/3_1.png');
    background-size: 90% 100%;
    background-position: center;
}

.submarineVertical{
    background-image: url('images/ships/3_1_v.png');
    background-size: 100% 90%;
    background-position: center;
    width: 45px !important;
}

.destroyerHorizontal{
    background-image: url('images/ships/3_2.png');
    background-size: 100% 150%;
    background-position: center;
}

.destroyerVertical{
    background-image: url('images/ships/3_2_v.png');
    background-size: 150% 100%;
    background-position: center;
    width: 45px !important;
}

.patrol_boatHorizontal{
    background-image: url('images/ships/2.png');
    background-size: 100% 150%;
    background-position: center;
}

.patrol_boatVertical{
    background-image: url('images/ships/2_v.png');
    background-size: 150% 100%;
    background-position: center;
    width: 45px !important;
}



.grid-ships{
    border: 2px solid rgb(128,128,128);
    border-radius: 10px;
    height: 495px;
    width: 495px;
    margin: auto;
    margin-top: 10vh
}

#grid{
    margin: 45px 0 0 45px;
    position: absolute;
    width: 450px;

}

.grid-wrapper{
    display: absolute;
    display: flex;
    flex-direction: column;
}

.grid-row{
    display: flex;
    flex-direction: row;
}

.grid-cell{
    display: flex;
    box-sizing: border-box;
    width: 45px;
    height: 45px;
    border: 1.3px solid rgb(128,128,128);
    border-radius: 10px;
    vertical-align: middle;
    font-weight: bold;
    text-align: center;
    align-items: center;
}
.grid-cell span{

    margin: auto
}

.busy-cell{
    background-color: rgba(0,119,190,0.5);

}

.grid-row:first-child .grid-cell{
    background-color: rgba(170,169,173,0.7);
}

.grid-cell:first-child{
    background-color: rgba(170,169,173,0.7);
}

#alert-text{
    color: red;
    text-align: center;
    display: block;
}

#saveShipsButton, #backButton{
    margin-left: 90%;
}

#table2{
    table-layout: fixed;
}